
.tarjeta-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tarjeta-producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    
}

.nombre-producto {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita el número de líneas a 1 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Agrega los puntos suspensivos si el texto es demasiado largo */
}

.descripcion {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita el número de líneas de texto a 2 */
    -webkit-box-orient: vertical;
    height: 3em; /* Si la descripción es más larga, limitará la altura */
    line-height: 1.5em; /* Espaciado de las líneas */
}

.precio {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-top: 8px;
}

.botones {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;  
    
}


.tarjeta-producto:hover {
    transform: translateY(-9px); /* Efecto de levantar la tarjeta */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* Sombra más grande al hacer hover */
  }


